*{
    margin: 0;
padding: 0;
box-sizing: border-box;
};
/* Contact */
/* style rieng*/

/* style rieng*/

/* Contact */

/* .Bao_icon_about:hover{
    color: #fff;
    background-color: rgb(157, 246, 73);

}; */

