@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.bestSeller {
  height: 95%;
  max-height: 500px;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 130px;
  max-width: 500px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  background-color: #fff;
}

.bestSeller * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.bestSeller img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.bestSeller figcaption {
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  z-index: 1;
  bottom: 0;
}

.bestSeller h3,
.bestSeller p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.bestSeller h3 {
  text-align: center;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 5px;
}

.bestSeller p {
  font-weight: normal;
  font-style: italic;
  color: #888;
  font-size: 1.3em;
  padding-left: 15px;
  -webkit-transform: translateX(-25px);
  transform: translateX(-25px);
}

.bestSeller a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.bestSeller:hover > img,
.bestSeller.hover > img {
  opacity: 0.1;
}

.bestSeller:hover h3,
.bestSeller.hover h3,
.bestSeller:hover p,
.bestSeller.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.ImageH{
    width: 100%;
    height: 100%;
    display: block;
}

.fig{
  padding-top: 10%;
}


.head2{
  color: #d54d7b;  
  font-family: 'Allan';
  font-style: italic;
  text-align: center;
  margin: 20px;
  font-size: 80px;
}



@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Lato);
.onSale {
  max-height: 300px;
  font-family: 'Lato', sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  background-color: #1A1A1A;
}

.onSale * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.onSale img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.onSale figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 30px;
  background-color: #202123;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.onSale h2,
.onSale h3,
.onSale p {
  margin: 0;
}

.onSale h2,
.onSale h3 {
  font-family: 'Slabo 27px', serif;
  line-height: 1.2em;
}

.onSale h2 {
  font-size: 1.9em;
  color: #35ADF9;
}

.onSale h3 {
  color: #EBEBEB;
  font-size: 1.3em;
  font-weight: normal;
  letter-spacing: 1px;
}

.onSale p {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
  margin-top: 12px;
  padding: 12px 0 15px;
  line-height: 1.5em;
}

.onSale a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.onSale:hover > img,
.onSale.hover > img {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.onSale:hover figcaption,
.onSale.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}