@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
    --primary-color:#4daf54;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Poppins";
}
.productCard{
    margin: auto;
    width: 100%;
    height: 400px;
    background:none;
    margin-top: 23px;
    border-radius: 10px ;
    color: rgb(22, 21, 21);
    position: relative;
    border: none;
    background-color: #f4cbb5 !important;
    border-color: #f4cbb5 !important;
}
.card-header,.card-body {
    border: none;
}
.card-body a{
    color:rgb(246, 114, 70) ;
}
.card-header{
    background-color: transparent;
    width: 100%;
    height: 500px;
    max-height: 300px;
}
.card-header img{
    border-radius: 5px;
}
.name_color a{
    color: #d54d7b;

}
.card_p{
    
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.85em;
    font-weight: 500;
   
}
.card img{
    width: 100%;
    height: 200px;
    
}
#name_type{
    width: 150px;
   
}
.price-body{
    text-decoration: none;
}

