.cart-container {
    width: 70%;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    #a.col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
        padding: 0 25px;
    }
}

.item-container {
    background-color: rgb(255, 230, 230);
}

#a {
    background-color: rgb(222, 222, 255);
}

.btn-remove {
    color: #A91101;
    margin-top: 40px;
    text-decoration: none;
}

.item-title {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.item-quantity {
    width: 50px;
    background-color: rgb(255, 230, 230);
    border: none;
}

.btn-coupon-add {
    justify-content: center;
    width: 240.59px;
}

#add {
    border-radius: 3px;
    background-color: rgb(251, 224, 171);
}

.btn-end {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.btn-checkOut {
    width: 100%;
    height: 70px;
    font-size: 23px;
    border-radius: 3px;
    background-color: #EFB24C;
}

.btn-checkOut:hover {
    width: 105%;
}

.btn-keepShopping {
    border-radius: 3px;
    color: rgb(3, 147, 147);
    text-decoration: dashed;
    font-size: 1.25rem;
}

.btn-keepShopping:hover {
    color: #100a00;
}

#add:hover {
    color: #EFB24C;
}

.btn-remove:hover {
    color: #080500;
    width: 110%;
}
.text-bonus {
    margin-top: 400px;
}