<div class="first-section">
  <h1 class="web_title">Thrift Fashion</h1>
  <p class="byline">Buy less, donate what's left!</p>
  <div id="carouselExampleCaptions" class="container-md carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="max-height: 75%;">
      <div class="carousel-item active">
        <img src="/img/banner/4.jpg" class="d-block w-100 h-75" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>First slide label</h5> -->
          <p class="text">Sometimes the poor are praised for being thrifty. But to recommend thrift to the poor is both grotesque and insulting. It is like advising a man who is starving to eat less.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/banner/2.jpg" class="d-block w-100 h-75" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Second slide label</h5> -->
          <p class="text">Waste is worse than loss. The time is coming when every person who lays claim to ability will keep the question of waste before him constantly. The scope of thrift is limitless.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/img/banner/3.jpg" class="d-block w-100 h-75" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <!-- <h5>Third slide label</h5> -->
          <p class="text">Just because something doesn't do what you planned it to do doesn't mean it's useless.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <div class="container">
    <hr style="height: 3px; color:rgb(201, 67, 37)">
      <h2 class="head2">BEST SELLER</h2>
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="d in dataBest">
              <figure class="bestSeller">
                  <img src="/img/prod/{{d.image}}" class="ImageH">
                  <figcaption class="fig">
                    <h3>{{d.name}}</h3>
                    <p>{{d.description}}</p>
                  </figcaption>
                  <a ng-click="viewDetails(d.id)"></a>
                </figure>
          </div>
      </div>
    <hr style="margin-top: 25px; height: 3px;  color:rgb(201, 67, 37)">
      <h2 class="head2">ON SALE</h2>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="s in dataSale ">
          <figure class="onSale">
            <img src="/img/prod/{{s.image}}" >
            <figcaption>
              <h2>{{s.name}}</h2><br>
              <span>{{s.description}}</span>
            </figcaption>
            <a ng-click="viewDetails(s.id)"></a>
          </figure>
        </div>
      </div>
  </div>
