<div class="container" style="margin-top: 100px;">
	<style>
	@media only screen and (max-width: 764px) {
		.fix-block {
			display: inline;
		}
	}
	</style>
	<div class="row">
		<div class="col-sm-12 col-md-3">
			<form action="#" method="get" return false ng-hide="hideForm">
				<label for="saveName" class="">Search</label>
				<input type="input" class="form__field" name="name" id="saveName" ng-model="searchName" required /> </form>
			<div ng-repeat="s in list" class="fix-block">
				<input type="radio" name="category_id" id="checkCat{{s.id}}" ng-model="category_id" style="display: none;" value="{{s.id}}" class="checkCat">
				<label for="checkCat{{s.id}}" class="btn btn-primary-custom">Buy {{s.name}}</label>
				<!-- <p ng-click="loadProduct(s.id)"> {{s.name}}</p> -->
				<!-- {{category_id}} -->
			</div>
		</div>
		<div class="col-sm-12 col-md-9" style="margin-top: 10px;">
			<div class="row">
				<div class="col-sm-12 col-md-4" ng-repeat="d in data | filter:checkvalues | filter:searchName">
					<div class="col-sm">
						<!--  -->
						<figure class="snip1512">
							<img src="/img/prod/{{d.image}}" alt="sample83" />
							<figcaption>
							  <h3 style="font-size: 20px;">{{d.name}}</h3>
							  <p>{{d.description}}</p>
							</figcaption><i class="ion-plus"></i>
							<a href="#!product/{{d.id}}"></a>
						  </figure>
						<!--  -->
							<!-- <a href="#!product/{{d.id}}"> <img src="/img/prod/{{d.image}}"  width="100%" class="img-prod product_list"></a>
						<h1><a href="#!product/{{d.id}}" class="product_list">{{d.name}}</a></h1>
						<p>{{d.description}}</p>
						<p>{{d.name}}</p>
						<p></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>