<div class="container" style="margin-top: 100px;">
	<style>
		@media only screen and (max-width: 764px) {
			.fix-block {
				display: inline;
			}
		}
	</style>
	<div class="row">
		<div class="col-sm-12 col-md-3 category-header">
			<form action="#" method="get" return false ng-hide="hideForm">
				<div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="btn btn-link text-warning" style="cursor:auto;"><i
									class="fa fa-search"></i></span>
						</div>
						<input type="search" placeholder="What're you searching for?" aria-describedby="button-addon2"
							class="form-control border-0 bg-light" id="saveName" ng-model="searchName">
					</div>
				</div>
			</form>
			<div ng-repeat="s in list_category" class="fix-block">
				<input type="radio" name="category_id" id="checkCat{{s.id}}" ng-model="category_id"
					style="display: none;" value="{{s.id}}" class="checkCat">
				<label for="checkCat{{s.id}}" class="btn btn-primary-custom" id="name_type">Buy {{s.name}}</label>
				<!-- <p ng-click="loadProduct(s.id)"> {{s.name}}</p> -->
				<!-- {{category_id}} -->
			</div>
		</div>
		<div class="col-sm-12 col-md-9" style="margin-top: 10px;">
			<div class="row">
				<div class="col-sm-12 col-md-4" ng-repeat="d in data_products | filter:checkvalues | filter:searchName">
					<div class="col-sm">
						
						<div class="card productCard">
							<div class="card-header">
								<div class="image">
									<a href="#!product/{{d.id}}"> <img src="/img/prod/{{d.image}}" width="100%"
											class="img-prod product_list "></a>
									<div class="icons"> </div> <button  ng-click="addtocart(d.id, d.name, d.price, 1)"  class="add-to-cart">Add to Cart</button>
								</div>
							</div>
							<div class="card-body">
								<h3 class="name_color"><a href="#!product/{{d.id}}" class="product_list">{{d.name}}</a>
								</h3>
								<p class="card_p">{{d.description}}</p>
								<a href="#!product/{{d.id}}" class="price-body">
									<p>price: $100</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>